---
layout: plain
---

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Developer</h1>
                    <p class="intro-text">Hi, I'm Derek.<br />I've been around information systems since the early 1990's and consider myself a pretty well rounded technologist with a strength for efficiency and automation and a passion for making web applications.</p>
                    <a href="#about" class="btn btn-callout page-scroll">
                        <i class="fa fa-long-arrow-down animated"></i>&nbsp;About
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section id="about" class="content-section">
    <div class="full-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-header">About Me</h2>
                </div>
                <div class="col-lg-6">
                    <h3>During Business Hours</h3>
                    <p>At my day job, I work for <a href="http://www.co.washington.or.us/" target="_blank">Washington County Oregon</a> as a Web System Adminstrator.</p>
                    <p>My core functions at the county are to keep the many web properties up and running and plan for the future while being mindful of our customers &mdash; the citizens of Washington County.</p>
                </div>
                <div class="col-lg-6">
                    <h3>In My Free Time</h3>
                    <p>I'm married to a beautiful goddess and father to four kick-ass boys.</p>
                    <p>When I'm not running, laughing, or playing, I develop freelance projects for small businesses, the open source community, and myself.  <a class="page-scroll" href="#contact">Contact me</a> if you're looking for help or guidance in your next project.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Download Section -->
<section id="skillset" class="content-section">
    <div class="full-section">
        <div class="container">
            <div class="col-lg-12">
                <h2>I Might Be a Unicorn</h2>
                <p>I started my career in technology working with point-of-sale hardware and software and since then I've supported thousands of users at a large law firm, created internal helpdesk software and portals for clients, and worked independently and with agencies to create beautiful websites and applications.</p>
                <p><a href="http://www.forbes.com/sites/oreillymedia/2014/04/11/full-stack-developer-is-a-tall-order-bordering-on-unicorn-territory/" target="_blank">Much has been written about unicorns</a> &mdash; the elusive application developer who claims several areas of expertise.  I've created a simple filter below for you to review my skill set and ultimately decide if unicorns exist.</p>

            </div>

            <div class="col-lg-8 col-lg-offset-2">
                <div class="row filter-skills-input-form">
                  <form role="form">
                    <div class="form-group">
                       <input type="search" placeholder="Filter for 'php' or 'framework' for example ..." class="form-control" id="filter-skills">
                    </div><!-- /.form-group -->
                  </form>
                </div><!-- /.filter-skills-input-form -->

                {% include common/skillset.html %}

            </div><!-- col-lg-8 col-lg-offset-2 -->
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="content-section text-center">
    <div class="full-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Contact or Hire Me</h2>
                    <p>I'm open to 8-16 hours per week for projects.  I'm accurate with my advice and estimates.</p>
                    <p>{% include common/email.html %}</p>
                    {% include common/social.html %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Map Section -->
<!-- <div id="map"></div> -->
