---
layout: new
---

<section id="intro" class="uikit-section">
    <div class="intro-body">
        <h1 class="brand-heading text-center">Derek Nutile</h1>
        <h2 class="brand-subheading text-center">husband &middot; dad &middot; developer &middot; runner</h2>
        <p>Hi, I'm Derek.</p>
        <p>I've been around information systems since the early 1990's and consider myself a pretty well rounded technologist with a strength for efficiency and automation and a passion for making web applications.</p>
    </div><!-- /.intro-body -->
</section><!-- /#intro -->

<section id="about" class="uikit-section">
    <h3>About Me</h3>
    <p>During the day, I work for the <a href="http://www.clackamas.us/sheriff/" target="_blank">Clackamas County Sheriff's Office</a> as a Systems Project Analyst.</p>
    <p>My core functions are to support, maintain, and develop programs and web applications for the administration and officers of the Sheriff's Office.</p>

    <h3>In My Free Time</h3>
    <p>I'm married to a beautiful goddess and father to four kick-ass boys.</p>
    <p>When I'm not running, laughing, or playing, I develop freelance projects for small businesses, the open source community, and myself.</p>
    <p>Finally, I run a small web agency called <a href="http://pixelnewt.com/" target="_blank">PixelNewt</a>.  This offers me an opportunity to stay engaged with the development community, interact with clients, and run a small business.</p>
</section>

<section id="skillset" class="uikit-section">
    <h3>I'm a Programming Polyglot</h3>
    <p>I fully develop websites, web applications, automate processes, administer servers, manage cloud services, and define and clarify project scopes.</p>
    <p>I started my career in technology working with point-of-sale hardware and software and since then I've supported thousands of users at a large law firm, created internal helpdesk software and portals for clients, and worked independently and with agencies to create beautiful websites and applications.</p>

    {% include common/skillset.html %}
</section>

<section id="contact" class="uikit-section">
    <h3>Contact or Hire Me</h3>
    <p>I'm open to 8-16 hours per week for planning, advisement, and projects. I'm always accurate with my estimates.</p>
    <p class="text-center">{% include common/email.html %}</p>
    {% include common/social.html %}
</section>
