@charset "utf-8";

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* sass assets/scss/custom.scss:assets/css/custom.css --style compressed
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* fonts
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,700);
$sansFont: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);
$sansFont2: "Open Sans", Georgia, Times, "Times New Roman", serif;
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300);
$serifFont: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,700);
$serifFont2: "Raleway", Georgia, Times, "Times New Roman", serif;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* colors
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
$primaryDark1: #001;
$primaryDark2: rgba(0,0,0,0.19);

$primaryLight1: #fff;
$primaryLight2: #fbfdec;

$primaryLink: #563d7c;
$primaryLink2: #1d9b6c;

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
    width: 100%;
    height: 100%;
}

body {
    background-color: $primaryLight2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    font-family: $serifFont;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    margin: 0 0 1.4em;
}

a {
    color: $primaryLink;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: $primaryLink2;
}

section {
    padding-bottom: 1em;
    border-bottom: 1px solid lighten( $primaryDark2, 33% );
    margin-bottom: 2em;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Bootstrap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container {
    padding-right: 10%;
    padding-left: 10%;
    margin-right: auto;
    margin-left: auto;
}

.container-narrow {
    width: 80%;
    max-width: 768px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Application custom styles
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.guttered-top {
    margin-top: 3em;
}

.guttered-bottom {
    margin-bottom: 3em;
}

.padded-copy {
    padding: 3em 1em;
}

.main-copy {
    font-family: $sansFont2;
    font-weight: 300;
    line-height: 1.6em;
    font-size: 1.4em;
    background-color: #fff;
    color: $primaryDark1;
}

@media(max-width: 768px) {
    .main-copy {
        line-height: 1.6em;
        font-size: 1.2em;
    }
}

.shadowed {
    -webkit-box-shadow: 0 6px 15px $primaryDark2,0 6px 6px $primaryDark2;
       -moz-box-shadow: 0 6px 15px $primaryDark2,0 6px 6px $primaryDark2;
            box-shadow: 0 6px 15px $primaryDark2,0 6px 6px $primaryDark2;
}

.brand-heading {
    font-family: $sansFont;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
}

@media (max-width: 768px) {
    .brand-heading {
        font-size: 3em;
    }
}

@media (max-width: 640px) {
    .brand-heading {
        font-size: 2.2em;
    }
}

@media (max-width: 480px) {
    .brand-heading {
        font-size: 1.8em;
    }
}

.hidden {
    display: none;
}

.light {
    font-weight: 400;
}

.search-box {
    display: block;
    width: 100%;
    height: 1.8em;
    padding: 6px 12px;
    font-size: .9em;
    font-weight: 100;
    line-height: 1.42857143;
    color: $primaryDark1;
    background-color: lighten( $primaryLight2, 12% );
    background-image: none;
    border: 1px solid $primaryDark2;
    -webkit-box-shadow: inset 0 1px 1px $primaryDark2;
    box-shadow: inset 0 1px 1px $primaryDark2;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

a.skill {
    font-size: 1em;
    font-weight: 100;
    font-family: $sansFont;
}

.skills-list {
    border: 1px solid $primaryDark2;
    padding: .5em;
}

.text-center {
    text-align: center;
}

footer.site-footer {
    padding: 2em 0;
    font-size: .75em;
    color: darken( $primaryDark2, 70% );
}

ul.list-inline {
    text-align: center;
    list-style: none;
    padding-left: 0;
}

ul.list-inline li {
    display: inline;
}

@media (max-width: 640px) {
    ul.list-inline li {
        display: list-item;
    }
    .btn {
        padding: 10px 0;
        margin-bottom: .5em;
        width: 100%;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: .5em .7em;
    font-size: 1em;
    line-height: 1.4em;
    display: inline-block;
    text-align: center;
}

@media (max-width: 640px) {
    .btn {
        padding: 10px 0;
        margin-bottom: .5em;
        width: 100%;
    }
}

.btn-social {
    border: 1px solid $primaryDark2;
    color: $primaryDark2;
    background-color: transparent;
}

.btn-social:hover {
    background-color: $primaryLink;
    color: #fff;
}
