---
layout: page
title: My Skillset
navbar: "skills"
permalink: "/skills/"
js: "skills"
---


<section class="palette subheader-banner skillset">
<div class="container">
  <div class="row">

    <h3>Unicorn Sighting?</h3>
    <p>OK, so unicorns arguably don't exist.  But <a href="http://www.forbes.com/sites/oreillymedia/2014/04/11/full-stack-developer-is-a-tall-order-bordering-on-unicorn-territory/" target="_blank">much has been written</a> about the elusive application developer who claims several areas of expertise.</p>

    <p>I started my career in technology working with point-of-sale hardware and software and since then I've supported thousands of users at a large law firm, created internal helpdesk software and portals for clients, and worked independently and with agencies to create beautiful websites and applications.</p>

    <p>I've created a simple filter below for you to review my skill set and ultimately decide if unicorns exist.</p>

  </div><!-- /.row -->
</div><!-- /.page-section -->
</section><!-- /.subheader-banner resume-overview -->


<section class="palette skillset">
<div class="container page-section">

  <div class="row filter-skills-input-form">
    <form role="form">
      <div class="form-group">
         <input type="search" placeholder="Filter for 'php' or 'framework' for example ..." class="form-control" id="filter-skills">
      </div><!-- /.form-group -->
    </form>
  </div><!-- /.row filter-skills-input-form -->

  <div class="row skills-row-header">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h5>Language/Framework/System<span class="hidden-md hidden-lg"> (tags)</span></h5>
    </div>

    <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
      <h5>Categories</h5>
    </div>
  </div><!-- /.row skills-row-header -->

  <div class="skills-list">
    {% for item in site.data.expertise %}
    <div class="row skills-row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        {% if item.url %}
        <p class="skill-title"><a href="{{ item.url }}" target="_blank">{{ item.title }}</a><span class="hidden-md hidden-lg skill-category"> ({{ item.category }})</span></p>
        {% else %}
        <p class="skill-title">{{ item.title }}</p>
        {% endif %}

      </div>

      <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
        <p class="skill-category">{{ item.category }}</p>
      </div>
    </div><!-- /.skills-row -->
    {% endfor %}
  </div><!-- /.row skills-list -->

</div><!-- /.page-section -->
</section><!-- /.skills -->
