---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/* rem conversion cheatsheet */
/*
 8px = 0.5rem
 9px = 0.5625rem
10px = 0.625rem
11px = 0.6875rem
12px = 0.75rem
13px = 0.8125rem
14px = 0.875rem
15px = 0.9375rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* fonts
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* common or base font */
@import url(http://fonts.googleapis.com/css?family=Lato);
$fontBasePrimary: 'Lato', Helvetica, Arial, sans-serif;

/* secondary or print font */
@import url(http://fonts.googleapis.com/css?family=Arvo);
$fontPrintPrimary: 'Arvo', Times, serif;
@import url(http://fonts.googleapis.com/css?family=Roboto);
$fontPrintSecondary: 'Roboto', Times, serif;

/* font for script, cursive, or fancy rendering */
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
$fontFancyPrimary: 'Kaushan Script';

/* technical, typewriter, monospace font typically used for pre or code tags */
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
$fontMonoPrimary: 'Inconsolata', Courier, monospace;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* colors
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* base white or black colors or variants */
$colorLight: #fdfdfd; /*pale white*/
$colorDark: #001;
$colorBlack: #27343d; /*dark slate*/

$colorPrimary: #222222; /*black-gray*/
$colorSecondary: #4882ad; /*steel blue*/
$colorHighlightPrimary: #ddd;
$colorHighlightSecondary: #eee;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: $fontBasePrimary;
}

h1, h2, h3, h4, h5, h6 {
}

p, ul, ol {
  font-size: 16px;
  font-weight: 100;
  font-family: $fontBasePrimary;
  line-height: 24px;
}

/* links */
a { color: lighten( $colorBlack, 8% ); }
a:hover {
  color: lighten( $colorDark, 15% );
  text-decoration: none;
}
a:visited { color: lighten( $colorBlack, 8% ); }

.content{
  border-top: 64px solid $colorDark;
}

/*****************************************************************************/
/* Bootstrap overrides
/*****************************************************************************/
.container {
}

.container-full {
  margin: 0 auto;
  width: 100%;
  padding-left: 0rem;
  padding-right: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

$container-narrow-width: 760px;

.container-narrow {
  width: $container-narrow-width;
  margin-right: auto;
  margin-left: auto;
}

$page-section-width: 700px;
$page-section-height: 1.25*5rem;
$page-section-lg-width: 700px;
$page-section-lg-height: $page-section-height * 3;

.page-section {
  width: $page-section-lg-width;
  min-height: 1.25*5rem;
}

.page-section-lg {
  width: $page-section-lg-width;
  min-height: $page-section-lg-height;
}

.landing-title {
  font-size: 36px;
  font-weight: 400;
  padding-top: 36px;
  padding-bottom: 20px;
  font-family: $fontPrintPrimary;
  text-transform: none;
  text-align: center;
  color: $colorHighlightSecondary;
}

.landing-intro {
  font-size: 24px;
  font-weight: 100;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: $fontFancyPrimary;
  text-transform: none;
  text-align: center;
}

.homepage-navigation-links {
  width: $page-section-lg-width;
  top: 400px;
  position: absolute;
  text-align: center;
}

.homepage-navigation-links-list {
  padding-top: 9px;
  font-size: 14px;
  text-transform: lowercase;
}

.homepage-navigation-links-list a {
  color: $colorHighlightSecondary;
}
.homepage-navigation-links-list a:hover {
  color: $colorHighlightPrimary;
}

@media (max-width: 767px) {
  $page-section-lg-width-device: 100%;
  $page-section-lg-height-device: 200px;

  .page-section{
    width: $page-section-lg-width-device;
    min-height: $page-section-lg-height-device - 100;
  }

  .page-section-lg{
    width: $page-section-lg-width-device;
    min-height: $page-section-lg-height-device;
  }

  .landing-title {
    font-size: 30px;
    font-weight: 200;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .landing-intro {
    font-size: 22px;
    font-weight: 100;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .homepage-navigation-links {
    width: $page-section-lg-width-device;
    top: $page-section-lg-height-device;
    position: absolute;
    text-align: center;
  }
}

.row {
/*  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0 18px 0 18px;*/
}

.row-stack {
/*  padding: 12px 6px 12px 6px;
  margin-bottom: 24px;
  border: 0 none;*/
}

/* override to .col class padding */
.cancel-col-padding {
  padding-left: 0rem;
  padding-right: 0rem;
}

.navbar-default {
  background-color: $colorDark;
  border-color: $colorDark;
  height: 60px;
}

.navbar-default .navbar-nav>li>a {
  color: darken( $colorLight, 25% );
}

.navbar-default .navbar-nav>li>a:hover {
  color: $colorLight;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: darken( $colorHighlightPrimary, 12% );
  background-color: $colorDark;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: $colorDark;
  background-color: $colorDark;

}

.navbar-brand {
  font-family: $fontFancyPrimary;
  font-weight: 100;
  font-size: 26px;
}

.navbar-logo {
  height: 30px;
  width: 30px;
}

#nav-links {
  font-family: $fontPrintPrimary;
  font-size: 14px;
  font-weight: 100;
}

.btn {
  border-radius: 0rem;
  font-size: 20px;
}

.btn-primary {
  color: $colorLight;
  background-color: lighten( $colorPrimary, 22% );
  border-color: darken( $colorPrimary, 22% );
}

.btn-primary:hover {
  color: $colorDark;
  background-color: $colorLight;
}

.btn-lg, .btn-group-lg>.btn {
  padding: 12px;
  font-size: 20px;
}

.jumbotron {

}

.lead {
}

.page-header {
  border-bottom: none;
  font-family: $fontBasePrimary;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 100;
  font-family: $fontPrintPrimary;
  line-height: 1.42857143;
  color: $colorPrimary;
  background-color: $colorHighlightSecondary;
  background-image: none;
  border: 1px solid $colorPrimary;
  border-radius: 0rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*****************************************************************************/
/* footer
/*****************************************************************************/

footer {
  background-color: $colorDark;
  background-attachment: relative;
  background-position: top center;
  min-height: 128px;
  width: 100%;
  padding: 48px 0 36px;
  font-family: $fontBasePrimary;
  padding-left: 15px;
  padding-right: 15px;
}

footer p.copyright {
  font-size: 13px;
  color: darken( $colorLight, 10% );
}

/*****************************************************************************/
/* palettes
/*****************************************************************************/

.palette {
  padding-top: 24px;
  padding-bottom: 24px;
}

.palette-jumbo {
  padding-top: 64px;
  padding-bottom: 64px;
}

.palette-large {
  padding-top: 48px;
  padding-bottom: 48px;

}

.palette h2 {
  font-size: 48px;
  font-weight: 100;
}

@media (max-width: 767px) {
  .palette h2 {
    font-size: 36px;
    font-weight: 100;
  }
}

.palette h3 {
  font-size: 30px;
  font-weight: 100;
}


/*****************************************************************************/
/* sections
/*****************************************************************************/

section {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

section ul, section ol {
  padding-left: 36px;
}

section h1 {
  font-size: 48px;
  font-weight: 100;
  padding: 3px 0 20px 0;
  font-family: $fontPrintPrimary;
  text-transform: uppercase;
}

@media (max-width: 767px) {

  section h1 {
    font-size: 30px;
    font-weight: 100;
    padding: 3px 0 12px 0;
    font-family: $fontPrintPrimary;
    text-transform: uppercase;
  }
}

section h2 {}

section h3 {}

section h4 {}

section h5 {}

section.header-banner{
  padding-top: 44px;
  padding-bottom: 44px;
  background-color: $colorDark;
  color: $colorLight;
}


@media (max-width: 767px) {
  section.header-banner{
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

section.subheader-banner{
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: lighten( $colorBlack, 50% );
  color: $colorDark;
}


@media (max-width: 767px) {
  section.subheader-banner{
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

section.header-banner-lg{
  padding-top: 88px;
  padding-bottom: 88px;
  background-color: $colorDark;
  color: $colorLight;
}


@media (max-width: 767px) {
  section.header-banner-lg{
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.text-shadow-dark {
  text-shadow: 1px 1px 1px darken( $colorDark, 10% );
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* post list
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.recent-posts {
  margin-top: 18px;
}

.post-list-item {
  border-top: 1px solid darken( $colorLight, 15% );
  background-color: $colorLight;
  padding-top: 8px;
  padding-bottom: 4px;
}

.recent-posts-summary {
  padding-top: 12px;
  border-top: 1px solid darken( $colorLight, 15% );
  background-color: darken( $colorLight, 10% );
}

.fa-inverse {
  color: lighten( $colorBlack, 8% );
}

.social-icons a {
  color: $colorDark;
}

.social-icons a:hover {
  color: $colorLight;
}

.swap-text {
  display: none;
}

.skill-title, .skill-title a {
  font-size: 14px;
  color: $colorPrimary;
}

.skill-category {
  font-size: 14px;
  color: lighten( $colorBlack, 12% );
}

.skills-row {
  border-bottom: 1px solid $colorHighlightPrimary;
  padding-top: 4px;
}