---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* fonts
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* common or base font */
@import url(http://fonts.googleapis.com/css?family=Anton);
$fontBasePrimary: 'Anton', Helvetica, Arial, sans-serif;

/* secondary or print font */
@import url(http://fonts.googleapis.com/css?family=Arvo);
$fontPrintPrimary: 'Arvo', Times, serif;
@import url(http://fonts.googleapis.com/css?family=Roboto);
$fontPrintSecondary: 'Roboto', Times, serif;

/* font for script, cursive, or fancy rendering */
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
$fontFancyPrimary: 'Kaushan Script';

/* technical, typewriter, monospace font typically used for pre or code tags */
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
$fontMonoPrimary: 'Inconsolata', Courier, monospace;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* colors
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* base white or black colors or variants */
$colorLight: #fdfdfd; /*pale white*/
$colorDark: #001;
$colorBlack: #27343d; /*dark slate*/

$colorPrimary: #222222; /*black-gray*/
$colorSecondary: #4882ad; /*steel blue*/
$colorHighlightPrimary: #bf9000; /*medium yellow*/
$colorHighlightSecondary: #eee;


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: $fontBasePrimary;
}

h1, h2, h3, h4, h5, h6 {
}

p, ul, ol {
  font-size: 16px;
  font-weight: 100;
  font-family: $fontPrintSecondary;
  line-height: 24px;
}

/* links */
a { color: $colorHighlightPrimary; }
a:hover {
  color: darken( $colorHighlightPrimary, 15% );
  text-decoration: none;
}
a:visited { color: $colorHighlightPrimary; }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* input[type=search] {
  font-size: 20px;
  font-weight: 100;
  font-family: $fontPrintPrimary;
}
strap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container {
}

.container-full {
  margin: 0 auto;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

$container-narrow-width: 760px;

.container-narrow {
  width: $container-narrow-width;
  margin-right: auto;
  margin-left: auto;
}

$landing-page-width: 700px;
$landing-page-height: 280px;

.landing-page {
  width: $landing-page-width;
  min-height: $landing-page-height;
}

.landing-title {
  font-size: 36px;
  font-weight: 400;
  padding-top: 36px;
  padding-bottom: 20px;
  font-family: $fontPrintPrimary;
  text-transform: none;
  text-align: center;
  color: $colorHighlightSecondary;
}

.landing-intro {
  font-size: 24px;
  font-weight: 100;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: $fontFancyPrimary;
  text-transform: none;
  text-align: center;
}

.homepage-navigation-links {
  width: $landing-page-width;
  top: 400px;
  position: absolute;
  text-align: center;
}

.homepage-navigation-links-list {
  padding-top: 9px;
  font-size: 14px;
  text-transform: lowercase;
}

.homepage-navigation-links-list a {
  color: $colorHighlightSecondary;
}
.homepage-navigation-links-list a:hover {
  color: $colorHighlightPrimary;
}

@media (max-width: 767px) {
  $landing-page-width-device: 100%;
  $landing-page-height-device: 200px;

  .landing-page{
    width: $landing-page-width-device;
    min-height: $landing-page-height-device;
  }

  .landing-title {
    font-size: 30px;
    font-weight: 200;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .landing-intro {
    font-size: 22px;
    font-weight: 100;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .homepage-navigation-links {
    width: $landing-page-width-device;
    top: $landing-page-height-device;
    position: absolute;
    text-align: center;
  }
}

.row {
/*  margin-left: 0px;
  margin-right: 0px;
  padding: 0 18px 0 18px;*/
}

.row-stack {
/*  padding: 12px 6px 12px 6px;
  margin-bottom: 24px;
  border: 0 none;*/
}

/* override to .col class padding */
.cancel-col-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-default {
  background-color: $colorDark;
  border-color: $colorDark;
  height: 60px;
}

.navbar-brand {
  font-family: $fontFancyPrimary;
  font-weight: 100;
  font-size: 26px;
}

.navbar-logo {
  height: 30px;
  width: 30px;
}

#nav-links {
  font-family: $fontPrintPrimary;
  font-size: 14px;
  font-weight: 100;
}

#nav-links a {
 // color: $colorBlack;
}

.btn {
  border-radius: 0px;
  font-size: 20px;
}

.btn-primary {
  color: $colorLight;
  background-color: lighten( $colorPrimary, 22% );
  border-color: darken( $colorPrimary, 22% );
}

.btn-primary:hover {
  color: $colorDark;
  background-color: $colorLight;
}

.btn-lg, .btn-group-lg>.btn {
  padding: 12px;
  font-size: 20px;
}

#footer {
}

.jumbotron {

}

.lead {
}

.page-header {
  border-bottom: none;
  font-family: $fontBasePrimary;
}

.navbar {
}

.navbar-default {
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 100;
  font-family: $fontPrintPrimary;
  line-height: 1.42857143;
  color: $colorPrimary;
  background-color: $colorLight;
  background-image: none;
  border: 1px solid $colorPrimary;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*****************************************************************************/
/* footer
/*****************************************************************************/

footer {
  background-color: $colorDark;
  background-attachment: relative;
  background-position: top center;
  min-height: 128px;
  width: 100%;
  padding: 48px 0 36px;
  font-family: $fontBasePrimary;
}

footer p.copyright {
  text-align: center;
  font-size: 14px;
  color: $colorLight;
}

/*****************************************************************************/
/* palettes
/*****************************************************************************/

.palette {
  padding-top: 24px;
  padding-bottom: 24px;
}

.palette-jumbo {
  padding-top: 64px;
  padding-bottom: 64px;
}

.palette-large {
  padding-top: 48px;
  padding-bottom: 48px;

}

.palette h2 {
  font-size: 48px;
  font-weight: 100;
}

@media (max-width: 767px) {
  .palette h2 {
    font-size: 36px;
    font-weight: 100;
  }
}

.palette h3 {
  font-size: 30px;
  font-weight: 100;
}


/*****************************************************************************/
/* sections
/*****************************************************************************/

section {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

section ul, section ol {
  padding-left: 36px;
}

section h1 {
  font-size: 48px;
  font-weight: 100;
  padding: 3px 0 20px 0;
  font-family: $fontPrintPrimary;
  text-transform: uppercase;
}

@media (max-width: 767px) {

  section h1 {
    font-size: 30px;
    font-weight: 100;
    padding: 3px 0 12px 0;
    font-family: $fontPrintPrimary;
    text-transform: uppercase;
  }
}

section h2 {}

section h3 {}

section h4 {}

section h5 {}

section.big-screen{
  padding-top: 88px;
  padding-bottom: 88px;
  background-color: $colorDark;
  color: $colorLight;
}


@media (max-width: 767px) {
  section.big-screen{
    padding-top: 22px;
    padding-bottom: 22px;
  }
}

.text-shadow-dark {
  text-shadow: 1px 1px 1px darken( $colorDark, 10% );
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* post list
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.recent-posts {
  margin-top: 18px;
}

.post-list-item {
  border-top: 1px solid darken( $colorLight, 15% );
  background-color: $colorLight;
  padding-top: 8px;
  padding-bottom: 4px;
}

.recent-posts-summary {
  padding-top: 12px;
  border-top: 1px solid darken( $colorLight, 15% );
  background-color: darken( $colorLight, 10% );
}
