
<script>document.write('<'+'a'+' '+'h'+'r'+'e'+'f'+'='+"'"+'m'+'a'+'i'+'&'+'#'+'1'+'0'+'8'+';'+'t'+'o'+'&'+'#'+'5'+'8'+';'+
  'h'+'e'+'l'+'&'+'#'+'1'+'0'+'8'+';'+'o'+'&'+'#'+'6'+'4'+';'+'d'+'e'+'r'+'&'+'#'+'3'+'7'+';'+'6'+'5'+
  'k'+'&'+'#'+'1'+'1'+'0'+';'+'u'+'%'+'7'+'4'+'i'+'l'+'e'+'&'+'#'+'4'+'6'+';'+'&'+'#'+'9'+'9'+';'+'%'+
  '6'+'F'+'&'+'#'+'1'+'0'+'9'+';'+"'"+'>'+'h'+'e'+'l'+'l'+'o'+'&'+'#'+'6'+'4'+';'+'d'+'&'+'#'+'1'+'0'+
  '1'+';'+'&'+'#'+'1'+'1'+'4'+';'+'e'+'k'+'n'+'u'+'t'+'i'+'l'+'&'+'#'+'1'+'0'+'1'+';'+'&'+'#'+'4'+'6'+
  ';'+'c'+'o'+'m'+'<'+'/'+'a'+'>');</script>
<noscript>myfullname(at)mydomain</noscript>
