<footer class="site-footer">
  <div class="container text-center hidden-xs hidden-sm">
    <div class="row">
      {% include common/social.html %}
    </div><!-- /.row -->
    <div class="row">
      <p class="copyright">&copy; 2015, {{ site.title }}</a></p>
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="container page-section visible-xs visible-sm">
    <div class="row">
      {% include common/social.html %}
    </div><!-- /.row -->
    <div class="row">
      <p class="copyright">&copy; 2015, {{ site.title }}</p>
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer>
